<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>test.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>srv.auth.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInventory</servlet-name>
        <servlet-class>admin.AddInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInventory</servlet-name>
        <servlet-class>admin.ListInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInventory</servlet-name>
        <servlet-class>admin.EditInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComment</servlet-name>
        <servlet-class>srv.AddComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInventory</servlet-name>
        <servlet-class>admin.DeleteInventory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInventory</servlet-name>
        <url-pattern>/AddInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInventory</servlet-name>
        <url-pattern>/ListInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInventory</servlet-name>
        <url-pattern>/EditInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComment</servlet-name>
        <url-pattern>/AddComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInventory</servlet-name>
        <url-pattern>/DeleteInventory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>Test</display-name>
        <web-resource-collection>
            <web-resource-name>test</web-resource-name>
            <description>All HTTP</description>
            <url-pattern>/Test</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only admin</description>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
